{% extends 'base.html' %}

{% block content %}
   
<div class="card " style="width:50%">
      
       <div class="card-body justify-content-center">
         <!-- <h5 class="card-title">Logistic Regression Algorithm</h5> -->
         <label for="title">Please Input Color grams</label>
           <form method="post">
            
                 
                     {%for h in html_headers%}
                     <div class="input-group mb-3">
  
                            <input type="text"   class="form-control sm" name = {{h}}
                            placeholder= {{h}}
                            value=""></input>
                     </div>
                            
                     {%endfor%}
                  
                     
                     
                     

        
              <input class="btn btn-primary" type="submit"></button>
             
         
           
            
              
          </form>
          <h1>Prediction : {{ messages }}</h1>
       </div>
</div>
    
   
{% endblock %}